@font-face {
  font-family: 'FF Kievit Pro';
  font-style: normal;
  font-weight: normal;
  src: url("//fonts.nurlan.co/kievit/pro/reg.eot");
  src: local("FF Kievit Pro Regular"), local("FFKievitPro-Regular"),
       url("//fonts.nurlan.co/kievit/pro/reg.eot?#iefix") format("embedded-opentype"),
       url("//fonts.nurlan.co/kievit/pro/reg.woff2") format("woff2"),
       url("//fonts.nurlan.co/kievit/pro/reg.woff") format("woff"),
       url("//fonts.nurlan.co/kievit/pro/reg.ttf") format("truetype"),
       url("//fonts.nurlan.co/kievit/pro/reg.svg#reg") format("svg");
}
